/* Importing fonts to use within the application */
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */

.large {
  font-size: 1.5rem;
}

#title {
  width: 90%;
  height: 10%;
  margin-top: 5px;
  margin-bottom: 3%;
  background-color: #282c34;
  color: white;
  border-radius: 25px;
  text-align: center;
  font-family: 'New Tegomin', serif;
}

#haircutCard {
  background-color: #282c34;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding: 5px;
  margin: 3px;
}

#landingImg {
  height: 500%;
}

#white {
  color: white;
}

#footer {
  padding: 5px 5px 5px 5px;
  align-items: center;
  text-align: center;
  background-color:#23272B;
}

.link {
  color: white;
}

.link:hover {
  color: white;
}

.review-stars{
  display:inline-block;
  padding:2%;
}